.main {
    width: 100%;
    padding: 12px;
    background-color: #e38b29;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.route {
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin: 0px 12px;
}

body {
    margin: 0;
}
